/*reset*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*--------------------*/

:root {
	--bg-image: url("/src/assets/images/bg-mobile-dark.jpg");
	--background-color: hsl(235, 21%, 11%);
	--text-color-primary: hsl(233, 11%, 84%);
	--text-color-secondary: hsl(236, 9%, 61%);
	--box-bg-color: hsl(235, 24%, 19%);

	--text-hover-color: hsl(220, 98%, 61%);
	--check-bg: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

	--gray-300: hsl(233, 11%, 84%);
	--navy-850: hsl(235, 19%, 35%);

	--navy-950: hsl(235, 21%, 11%);
	--navy-900: hsl(235, 24%, 19%);
	--purple-300: hsl(234, 39%, 85%);
	--purple-100: hsl(236, 33%, 92%);
	--purple-600: hsl(235, 16%, 43%);
	--purple-700: hsl(233, 14%, 35%);
	--purple-800: hsl(237, 14%, 26%);
	--gray-600: hsl(236, 9%, 61%);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[data-theme="day"] {
	--bg-image: url("/src/assets/images/bg-mobile-light.jpg");
	--background-color: hsl(233, 11%, 84%);
	--box-bg-color: #fafafa;
	--text-color-primary: hsl(235, 19%, 35%);
}

#root {
	background: var(--bg-image) top / contain no-repeat;
	background-color: var(--background-color);
	max-width: 100%;
	min-height: 100%;

	font-size: 18px;
	color: var(--text-color-primary);
	font-family: "Josefin Sans", sans-serif;
	transition: 0.8s;
}

body {
	margin: 0;
}

@media (min-width: 768px) {
	:root {
		--bg-image: url("/src/assets/images/bg-desktop-dark.jpg");
	}

	[data-theme="day"] {
		--bg-image: url("/src/assets/images/bg-desktop-light.jpg");
	}
}
